* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
}


h1 {
    font-family: "Merriweather", san-serif;
    font-weight: 500;
    font-style:italic;
    line-height: 100px;
}

p {
    max-width: 500px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}